.skills {
  margin-bottom: 150px;
  color: #000000;

  &__title {
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    font-size: 22px;
    line-height: 24px;
    max-width: 750px;
    color: #3f3d3d;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }

  &__svg {
    margin-right: 40px;

    svg {
      width: 55px;
      height: 55px;
    }
  }

  &__text {
    p {
      padding: 0;
      margin: 0;
    }
  }
}

@include viewport--tablet {
  .skills {
    margin-bottom: 100px;

    &__svg {
      margin-right: 20px;

      svg {
        width: 40px;
        height: 40px;
      }
    }

    &__text {
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@include viewport--mobile {
  .skills {
    &__title {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 30px;
    }

    &__svg {
      svg {
        width: 30px;
        height: 30px;
      }
    }

    &__text {
      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
