.slider-btn {
  &--goals {
    margin-bottom: 70px;
  }

  &--inner-slider {
    margin-bottom: 0;
    position: absolute;
    z-index: 5;
    left: 20px;
    right: 20px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }

  &__arrows {
    margin-left: auto;
    margin-top: 40px;
    text-align: end;

    svg {
      width: 21px;
      height: 40px;
    }

    &--programm {
      display: flex;
      justify-content: space-between;
      margin-top: 0;
    }
  }

  &__prev,
  &__next {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &--inner-slider {
      svg polyline {
        stroke-width: 3px;
        stroke: #ffffff;
      }
    }
  }

  &__prev {
    transform: rotate(180deg);
    margin-right: 20px;

    &--inner-slider {
      margin-right: 0;
    }
  }

  &__toggles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__toggle {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &--goals {
      background-color: #b49e7e;
      padding: 20px;
      border-radius: 3px;
      font-size: 18px;
      line-height: 22px;
      outline: none;
      box-shadow: 0 2px 23px -4px rgba(10,10,10,.59);

      transition:
        background-color 0.1s ease-in-out,
        // opacity 0.1s ease-in-out,
        box-shadow 0.2s ease-in-out,
        transform 0.2s ease-in-out;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:hover {
        transform: translateY(1px);
        box-shadow: 0 2px 5px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.05);
        // opacity: 0.8;
      }
    }

    &--active-goal {
      background-color: #b7bbb3;
      opacity: 1;
      box-shadow: none;
      transform: translateY(1px);

      &:hover {
        opacity: unset;
        box-shadow: none;
      }
    }
  }
}

@include viewport--tablet {
  .slider-btn {
    &__arrows {
      margin-top: 20px;

      svg {
        width: 15px;
        height: 30px;
      }
    }

    &__toggle {
      &--goals {
        font-size: 16px;
        line-height: 18px;
        padding: 14px;

        &:hover {
          opacity: unset;
        }

        &:active {
          opacity: unset;
        }
      }
    }
  }
}

@include viewport--mobile {
  .slider-btn {
    margin-bottom: 20px;

    &--inner-slider {
      left: 10px;
      right: 10px;
    }

    &__arrows {
      margin-top: 20px;

      svg {
        width: 15px;
        height: 30px;
      }
    }

    &__toggles {
      justify-content: start;
    }

    &__toggle {
      margin-bottom: 15px;

      &--goals {
        font-size: 14px;
        line-height: 16px;
        width: 46%;
        padding: 14px 7px;
        flex-grow: 1;

        &:nth-child(odd) {
          margin-right: 15px;
        }

        &:nth-child(even) {
          margin-right: 0;
        }
      }
    }
  }
}
