.user-data {
  margin-bottom: 150px;

  &__subtitle {
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 75px;
  }

  &__tagline {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    max-width: 60%;
  }
}

@include viewport--tablet {
  .user-data {
    margin-bottom: 100px;
  }
}
