<section class="user-data container">
  <h2 class="section-title section-title--form">Запишитесь на первую тренировку</h2>
  <span class="user-data__subtitle">Оставьте заявку на первую тренировку. Я свяжусь с вами и отвечу на все вопросы.</span>
  <form class="form">
    <div class="form__inner" data-input-wrapper="name">
      <label class="form__label" for="name">имя</label>
      <input id="name" class="form__input" type="text" data-input="name">
      <span class="form__warning">Имя должно содержать только буквы</span>
    </div>
    <div class="form__inner" data-input-wrapper="email">
      <label class="form__label" for="email">электронная почта</label>
      <input id="email" class="form__input" type="text" data-input="email">
      <span class="form__warning">Неверный формат email адреса.</span>
    </div>
    <div class="form__inner" data-input-wrapper="phone-number">
      <label class="form__label" for="phone-number">телефон</label>
      <input id="phone-number" class="form__input" type="tel" data-input="phone">
      <span class="form__warning">Телефон должен быть указан в формате +7xxxxxxxxxx</span>
    </div>
    <button class="form__button" type="submit">Отправить</button>
  </form>
  <!-- <p class="user-data__tagline">
    Я предлагаю первоклассные тренировки с уникальной программой. Свяжитесь со мной, чтобы задать интересующие вопросы.
  </p> -->
  <!-- <a href="mailto:rozin-viktor@list.ru" class="header__social-link" title="e-mail">rozin-viktor@list.ru</a> -->
</section>