<section class="slider container">
  <div class="swiper-container" id="main-slider">
    <div class="slider__list swiper-wrapper">
      <div class="slider__item swiper-slide">
        <img src="img/content/test-img-1.jpg" alt="">
      </div>
      <div class="slider__item swiper-slide">
        <img src="img/content/test-img-2.jpg" alt="">
      </div>
      <div class="slider__item swiper-slide">
        <img src="img/content/test-img-3.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="slider-btn">
    <div class="slider-btn__toggles" style="display: none;">
      <button data-slide-index="1" class="slider-btn__toggle slider-btn__toggle--active" type="button" id="tog-1"></button>
      <button data-slide-index="2" class="slider-btn__toggle" type="button" id="tog-2"></button>
      <button data-slide-index="3" class="slider-btn__toggle" type="button" id="tog-3"></button>
      <button data-slide-index="3" class="slider-btn__toggle" type="button" id="tog-4"></button>
      <button data-slide-index="3" class="slider-btn__toggle" type="button" id="tog-5"></button>
    </div>
    <div class="slider-btn__arrows">
      <button class="slider-btn__prev" type="button" data-btn-main-slider="next" id="top-slider-prev">
        <svg
          style="display: block" viewBox="0 0 21.3 41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <desc>Left</desc> <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 20.5,20.5 0.5,40.5"></polyline>
        </svg>
      </button>
      <button class="slider-btn__next" type="button" data-btn-main-slider="prev" id="top-slider-next">
        <svg
          style="display: block" viewBox="0 0 21.3 41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <desc>Right</desc> <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 20.5,20.5 0.5,40.5"></polyline>
        </svg>
      </button>
    </div>
  </div>
</section>
