<section class="programm">
  <div class="programm__block">
    <div class="programm__content">
      <h3 class="programm__title">Контроль состояния тела и веса</h3>
      <p class="programm__text">
        У каждого организма есть свои особенности. Я разработаю для вас уникальную программу, помогу правильно распределить нагрузку и контролировать питание.
      </p>
    </div>
    <div class="programm__slider swiper-container" id="program-slider-1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/content/test-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/content/test-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/content/test-3.jpg" alt="">
        </div>
      </div>
      <div class="slider-btn slider-btn--inner-slider">
        <div class="slider-btn__arrows slider-btn__arrows--programm">
          <button class="slider-btn__prev slider-btn__prev--inner-slider" type="button" data-inner-slider="prev-1">
            <svg
              style="display: block" viewBox="0 0 21.3 41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <desc>Left</desc> <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 20.5,20.5 0.5,40.5"></polyline>
            </svg>
          </button>
          <button class="slider-btn__next slider-btn__next--inner-slider" type="button" data-inner-slider="next-1">
            <svg
              style="display: block" viewBox="0 0 21.3 41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <desc>Right</desc> <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 20.5,20.5 0.5,40.5"></polyline>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="programm__block programm__block--reverse">
    <div class="programm__content">
      <h3 class="programm__title">Подготовлю к соревнованиям</h3>
      <p class="programm__text">
        Тут будет текст про то как я готовлю спортсменов к соревнованиям. Про то,
        что нельзя пивасик пить и кальян курить.
      </p>
    </div>
    <div class="programm__slider swiper-container" id="program-slider-2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/content/test-7.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/content/test-8.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/content/test-5.jpg" alt="">
        </div>
      </div>
      <div class="slider-btn slider-btn--inner-slider">
        <div class="slider-btn__arrows slider-btn__arrows--programm">
          <button class="slider-btn__prev slider-btn__prev--inner-slider" type="button" data-inner-slider="prev-2">
            <svg
              style="display: block" viewBox="0 0 21.3 41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <desc>Left</desc> <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 20.5,20.5 0.5,40.5"></polyline>
            </svg>
          </button>
          <button class="slider-btn__next slider-btn__next--inner-slider" type="button" data-inner-slider="next-2">
            <svg
              style="display: block" viewBox="0 0 21.3 41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <desc>Right</desc> <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 20.5,20.5 0.5,40.5"></polyline>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="programm__block">
    <div class="programm__content">
      <h3 class="programm__title">Восстановление</h3>
      <p class="programm__text">
        Тут будет текст про то как я готовлю спортсменов к соревнованиям. Про то,
        что нельзя пивасик пить и кальян курить.
      </p>
    </div>
    <div class="programm__slider swiper-container" id="program-slider-3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/content/test-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/content/test-5.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/content/test-6.jpg" alt="">
        </div>
      </div>
      <div class="slider-btn slider-btn--inner-slider">
        <div class="slider-btn__arrows slider-btn__arrows--programm">
          <button class="slider-btn__prev slider-btn__prev--inner-slider" type="button" data-inner-slider="prev-3">
            <svg
              style="display: block" viewBox="0 0 21.3 41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <desc>Left</desc> <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 20.5,20.5 0.5,40.5"></polyline>
            </svg>
          </button>
          <button class="slider-btn__next slider-btn__next--inner-slider" type="button" data-inner-slider="next-3">
            <svg
              style="display: block" viewBox="0 0 21.3 41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <desc>Right</desc> <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 20.5,20.5 0.5,40.5"></polyline>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

</section>