.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10%;

  @include viewport--desktop {
    padding: 0 60px;
  }

  @include viewport--tablet {
    padding: 0 24px;
  }

  @include viewport--mobile {
    padding: 0 16px;
  }

  &--no-padding {
    @include viewport--mobile {
      padding: 0;
    }
  }
}
