@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first
@mixin viewport--desktop-full {
  @media (max-width: $width--desktop-full) {
    @content;
  }
}

@mixin viewport--desktop {
  @media (max-width: $width--desktop) {
    @content;
  }
}

@mixin viewport--tablet {
  @media (max-width: $width--tablet) {
    @content;
  }
}

@mixin viewport--mobile {
  @media (max-width: $width--mobile) {
    @content;
  }
}

@mixin fontface($family, $localname, $filename, $weight, $style) {
  @font-face {
    font-family: $family;
    src: local("#{$localname}"),
      url("/fonts/#{$filename}.woff2") format("woff2"),
      url("/fonts/#{$filename}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

// Mobile first

/* @mixin viewport--md {
  @media (min-width: $viewport--md) {
    @content;
  }
}

@mixin viewport--lg {
  @media (min-width: $viewport--lg) {
    @content;
  }
}

@mixin viewport--xl {
  @media (min-width: $viewport--xl) {
    @content;
  }
}

@mixin viewport--xxl {
  @media (min-width: $viewport--xxl) {
    @content;
  }
} */
